//@marioip Created by Mario Iglesias

// Style sheet of Mundo Ludic

// GLOBAL styles
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}

// Global Styles

h3{
	color: $white;
	font-size: 1.4em;
	letter-spacing: 0.1em;
	margin: 30px 0px 20px 0px;
	padding: 0;
}

h4{
	color: $white;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	margin: 35px 0px 0px 0px; 
}

.content-area{
	margin-top: 20px;
}

.btn-area{
	background-color: $light-blue;
	letter-spacing: 0.05em;
	padding: 9px 15px;
	color: #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-right: 15px;
	-moz-box-shadow: 1px 3px 12px #000000;
	-webkit-box-shadow: 1px 3px 12px #000000;
	box-shadow: 1px 3px 14px #000000;
}

.btn-area:hover{
	background-color: $light-grey;
	color: #111;
}

// HEADER

body{
	background-color: $white;
	color: $dark-grey;
}

#initial-content{
	margin-top: 50px;
	img{
		margin-bottom: 20px;
	}
}

#header{
	// height: 450px;
	background: url('../images/head-background.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-color: $black;
}
.idioma{
	display: inline-block;
	margin-top: 10px;
	ul{
		list-style-type: none;
		color: $grey;
		letter-spacing: 0.05em;
		font-size: 0.9em;
		li{
			display: inline;
		}
		a{
			color: $white;
		}
	}
}

#modal-idioma{
	h7{
		color: $dark-grey;
	}
}

.modal-title{
	margin-top: 20px;
}

.modal-botones{
	
	margin: 20px 0px 10px 0px;
	padding: 0;
	border: 0px;
	// border:0px;
	a{
		@include button;
		margin: 0px 10px 0px 0px;
	}
}

.social-nav{
	margin-top: 10px;
	margin-right: 15px;

	img{
		background-repeat:no-repeat;
		margin-right: 5px;
	}
}

.logo{
	margin-top: 10px;
}

.eslogan{
		margin-top: 15px;
	a{
		@include button;
		color: $black;
	}
}

.eslogan-foot{
	margin: 40px 0px;
	a{
		padding-top: 20px;
		@include button;
		color: $black;
		background-color: $light-grey;
		border: 1px solid $grey;
	}
	a:hover{
		background-color: $grey;
		border: 1 px solid $light-grey;
	}
}

.launching{
	padding: 0;

	h3{
		color: $black;
		font-size: 1em;
		padding: 15px 30px;
		background-color: $white;
		opacity: 0.6;
	}
}

.newsletter{
	padding-top: 25px;
	background-color: $white;
	// border-bottom:1px solid $grey;
	text-align: center;
	h7{
		padding: 20px 20px 0px 0px;
	}
}

.enviar{
	font-size: 0.8em;
	height: 35px;
}

.main{
	padding: 35px 0px 25px 0px;
	background-color: $light-grey;
	h2{
		margin: 20px 0px;
		font-size: 1.1em;
		padding: 0px 30px;
		text-align: center;
		color: $dark-grey;
	}
}

.carrusel{
	text-align: center;
	margin-bottom: 50px;
	.orbit-container{
		margin-top: 25px;
		background-color: $light-grey;
	}
}

.footer{
	margin-bottom: 20px;
	padding-top: 40px;
	border-top:1px solid $grey;
	background-color: $white;
}

.copy{
	height: 40px;
	padding-top: 20px;
	font-size: 0.9em;
	color: $dark-grey;
}

// Botones

//head
.twitter{
	background: url('../images/icons/twitter.png');
}

.twitter:hover{
	background: url('../images/icons/twitter-over.png');
}

.facebook{
	background: url('../images/icons/facebook.png');
}

.facebook:hover{
	background: url('../images/icons/facebook-over.png');
}

.logo{
	background: url('../images/logo-white.png');
}

.logo:hover{
	background: url('../images/logo.png');
}

//footer
.twitter-foot{
	background: url('../images/icons/twitter-grey.png');
}

.twitter-foot:hover{
	background: url('../images/icons/twitter-grey-over.png');
}

.facebook-foot{
	background: url('../images/icons/facebook-grey.png');
	margin-right: 5px;
}

.facebook-foot:hover{
	background: url('../images/icons/facebook-grey-over.png');
}

.logo-foot{
	background: url('../images/logo.png');
}


